# Redireccionar al archivo que se mostrará en caso de error 404
RewriteEngine On
ErrorDocument 404 /assets/apartados/error404.php


#redirección
RewriteRule ^inicio$ index.php [L]
RewriteRule ^orders$ orders.php [L]
RewriteRule ^order$ order.php [L]
RewriteRule ^neworder$  newOrder.php [L]
RewriteRule ^newproduct$  newProduct.php [L]

