
# Redireccionar al archivo que se mostrará en caso de error 404
RewriteEngine On
ErrorDocument 404 assets/apartados/error404.php

#redirección
RewriteEngine On
RewriteRule ^inicio$ index.php [L]
RewriteRule ^productos$ productos.php [L]
RewriteRule ^servicios$ s.php [L]
RewriteRule ^/acceso/clientes/premium$ login.php [L]
RewriteRule ^servicios$  assets/apartados/serv550.php [L]
RewriteRule ^contacto$  contacto.php [L]
