:root {
    --color1: white;
    --color2: #f8f8f8; 
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background: rgb(140, 185, 233);
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    padding: 30px 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*<-----------------Header styles----------------->*/
header {
    position: relative;
    width: 100%;
    background: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}
header input {
    display: none;
}

/*<-----------------Burger menu styles----------------->*/ 
header label {
    display: none; 
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 10;
}
header label span {
    display: block;
    width: 25px;
    height: 3px;
    background: rgb(140, 185, 233);
    border-radius: 3px;
    transition: 0.3s ease;
}

/* <-----------------Navigation styles-----------------> */
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
header ul{
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
}
header ul li{
    padding: 20px;
}
header ul li a{
    color: rgb(140, 185, 233);
    border-bottom: 2px solid transparent;
    font-size: 20px;
    border-bottom: 1px solid var(--color2);
    transition: all 0.5s ease;
}
header ul li a:hover{
    color: #324960; 
    border-bottom: 1px solid #324960;
    transform: scale(1.05);
}
.logo {
    width: 15vh;
    color: rgb(140, 185, 233);
    border: 2px solid rgb(140, 185, 233);
    padding: 3px;
    font-size: 20px;
    text-align: center;
}

/*<-----------------Table Styles-----------------> */
.table-wrapper{
    margin: 10px 70px 70px;
    overflow-x: auto;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
.fl-table {
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px; 
    white-space: nowrap;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: var(--color1);
}
.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}
.fl-table td {
    border-right: 1px solid var(--color2);
    font-size: 12px;
}
.fl-table thead th {
    color: var(--color1);
    background: #4FC3A1;
}
.fl-table thead th:nth-child(odd) {
    color: var(--color1);
    background: #324960;
}
.fl-table tr:nth-child(even) {
    background: var(--color2);
}

/*<-----------------Card form----------------->*/
.card_container {
    display: none;
}


/*<-----------------Add new product----------------->*/
#feedback-form {
    width: 80vh;
    margin: 0 auto;
    background-color: var(--color2);
    padding: 20px 20px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
}
#feedback-form form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px; 
}
#feedback-form h2{
    text-align: center;
    margin-bottom: 30px;
}
#feedback-form input {
    margin-bottom: 15px;
}
#feedback-form input[type=text],
#feedback-form input[type=number] {
    height: 32px;
    padding: 6px 8px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}
#feedback-form input[type=submit] {
    margin-top: 15px;
}

  /*<-----------------Descargar datos----------------->*/
.table-container-download {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center; 
}
  .form-container label,
  .form-container select {
    font-size: 12px;
    margin-right: 5px;
}

  /*<-----------------MODAL----------------->*/
#editModal,
#deleteModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    background-color: var(--color2);
}
#editModal, #deleteModal {
    opacity: 0;
    transition: opacity 0.3s ease;
}
#editModal[style*="display: block"],
#deleteModal[style*="display: block"] {
    opacity: 1;
}
#modalBackdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.box select {
    width: 100%;
    background-color: #0563af;
    color: white;
    padding: 12px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
.box select option {
    padding: 20px;
}

  /*<-----------------Footer----------------->*/
footer {
    margin-top: 25px;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    padding: 20px;
}
footer ul li a{
    color: var(--color1);
    border-bottom: 2px solid transparent;
    font-size: 12px;
    transition: all 0.5s ease;
}
footer ul li a:hover{
    color: #324960; 
    border-bottom: 1px solid #324960;
    transform: scale(1.05);
}

/*<-----------------Button----------------->*/
.delete-btn {
    background-color: red;
    color: var(--color1);
    border: none;
    padding: 7px;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}
.delete-btn:hover {
    background-color: rgb(127, 41, 41);
    transform: scale(1.05); 
}
.edit-btn,
.mas-btn {
    background-color: blue;
    color: var(--color1); 
    padding: 7px;
    text-decoration: none; 
    cursor: pointer;
    border-radius: 3px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}
#closeModal {
    margin: 5px;
    font-size: 13px; 
    color: var(--color1); 
    background-color: blue;
    border: none; 
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    float: right;
}
#closeModal:hover,
.edit-btn:hover,
.mas-btn:hover {
    background-color: rgb(0, 0, 186); 
    transform: scale(1.05); 
}
#closeModal:active,
.edit-btn:active,
.mas-btn:active {
    background-color: rgb(0, 0, 132); 
    transform: scale(0.95); 
}

#confirmDelete,
.download-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
#cancelDelete{
    background-color: gray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 5px 0 0 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
#confirmDelete:hover,
.download-btn:hover {
    background-color: rgb(0, 97, 0);
    transform: scale(1.05); 
}
#cancelDelete:hover {
    background-color: rgb(107, 105, 105);
    transform: scale(1.05); 
}

/*<----------------- Responsive-----------------> */

@media (max-width: 1024px) and (min-width: 768px) {
    .table-container-download {
        flex-direction: column;
        align-items: flex-start;
    }
    .form-container label,
    .form-container select {
        font-size: 14px;
    }
    header ul li {
        padding: 10px;
    }
    .table-wrapper {
        margin: 10px 20px;
    }
}

@media (max-width: 767px) {
    /*<-----------------Burger Menu----------------->*/
    header {
        background-color: white;
        justify-content: space-between;
    }
    header label {
        display: flex; /* Отображаем бургер-иконку */
    }
    header nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        z-index: 5;
    }
    header input:checked ~ nav {
        transform: translateY(0); /* Показать меню при нажатии */
    }
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }
    header nav ul li {
        padding: 10px;
    }
    header nav ul li a {
        font-size: 18px;
        color: rgb(140, 185, 233);
    }
    /*<-----------------Animation Burger Menu-----------------> */
    header input:checked + label span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    header input:checked + label span:nth-child(2) {
        opacity: 0;
    }
    header input:checked + label span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    /*<-----------------End Burger Menu----------------->*/
    .form-container {
        flex-direction: column;
        align-items: stretch;
    }
    .table-wrapper {
        margin: 10px;
    }
    #feedback-form {
        width: 90%;
        padding: 15px;
    }
    .delete-btn, .edit-btn, #confirmDelete, #cancelDelete {
        padding: 10px 15px;
        font-size: 14px;
    }
    footer ul {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    footer ul li {
        padding: 5px;
    }
    .table-wrapper {
        display: none;
    }
    .card_container{
        display: block;
    }
    /*.fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
*/

    }